body {
  background-color: rgb(14, 14, 14);
  color: rgb(206, 206, 206);
}

.container {
  height: 80vh;
  overflow-y: auto;
  width: 70%;
}

.container ul {
  list-style: none;
  width: 100%;
  display: inline-block;
}

ul.chat li.message {
  border: solid #e7e7e7 0.5rem;
  border-radius: 1rem;
  background-color: #f8f8ff;
  margin: 1rem 0 1rem 0;
  width: max-content;
  font-size: 1.5rem;
  padding: 1rem;
}

ul.chat li.uMessage {
  border: solid #1d91a5 0.25rem;
  margin-left: auto;
  background-color: #b5f4ff;
  color: rgb(14, 14, 14);
  max-width: 60%;
}

input,
button,
.message {
  color: rgb(14, 14, 14);
}

.input {
  width: 100%;
  margin: 0 auto 0 auto;
  border-radius: 1rem;
  padding: 0.5rem 2em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1em;
}

.input textarea {
  padding: 0.5em 1em;
  border-radius: 0.75em;
  width: 100%;
  grid-column: 1/7;
  color: rgb(14, 14, 14);
  background-color: #1d91a5;
  resize: none;
}

.input textarea:focus-visible {
  outline: none;
  background-color: #f8f8ff;
}

.input button {
  background-color: #1d91a5;
  color: #f8f8ff;
  border-radius: 0.75em;
  font-size: 1.25em;
  grid-column: 7/9;
}

.displayname {
  font-size: 1.5em;
  grid-column: 1/2;
}

.emojis {
  grid-column: 5/7;
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 3em;
}
